*{
    margin: 0%;
    box-sizing: border-box;

}
.navbar{

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
position: fixed;
    width: 100%;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
z-index: 1000;
    padding: 10px 30px;



}



.navbar_sideButtons{
    display: flex;

    
    justify-content: space-evenly;
  padding: 25px;
  color: #333333;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration-line: none;
}
.navbar_sideButtons :hover{

    color: #7843E9;


}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
    gap: 25px;
}

.logo_container img{
    border-radius: 50%;
    
object-fit:cover;
}
.logo_name{
    font-size: 18px;
    font-family: sans-serif;
      font-weight: 600;
      text-transform:uppercase;
      color: #333333;

}
.logo_name:hover{
    color: #7843E9;
}

.home_container{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("C:\Users\user\OneDrive\Desktop\vite react\shashank_portfolio_01\public\common-bg.svg");
     justify-content: center;
    gap: 50px;
    padding-top: 200px;
        
    align-items: center;

    

}
.shashankheading{
    color: #111111;
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.home_page_lines{
    text-transform: capitalize;
    font-family: sans-serif;
    width: 400px;
    font-size: 15px;    
    color: #333333;
    line-gap-override: 2px;
    text-align: center;


}
.projects_button{
    background-color: #7843E9;
    padding: 0px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
     font-size: 14px;
    text-decoration: none;
    text-decoration-line: none;
}
.home_container nav:hover{

    transform: translateY(-3px);
    transition-duration: 0.2s;
}

.socialMedia_container{
   
  position: relative;


    flex-direction: column;
    right: 48%;
    color:#333333;
    font-size: 30px;
   
 bottom: 300px;
padding: 10px;
height: 200px;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);




}
.socialMedia_container div{
    padding: 5px;
    color: #111111;
    gap: 5px;
}
.socialMedia_container  div a{
    padding-top: 5px;
    color: #111111;
}



.About_container{
 margin-top: 100px;
    display: flex;
    flex-direction: column;
   gap: 30px;

}
.About_heading_smallline{


    height: 5px;
    width: 2rem;
    background: #7843E9;


    border-radius: 5px;
}
.About_heading_lines{
    font-family: sans-serif;
    font-size: 13px;
    color: #666666;
}
.About_container_01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.About_heading{

    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #111111;


}

.About_container_02
{
     display: flex;
     flex-basis: auto;
     justify-content: space-between;
     width: 100%;
     gap: 20px;
     padding: 50px
     
}                       
.About_container_02_right
{
  
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;

  

}
.About_container_02_right_lines{
    font-family: sans-serif;
    width: 80%;
    color: #333333;
    line-height: 1.5;

}

.About_container_02_right_main{

    font-family: sans-serif;
    color: #111111;
}
.About_container_02_right_contactButton{
    background-color: #7843E9;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
     font-size: 14px;


    width: fit-content;

     

}
.link{
    text-decoration: none;
    text-decoration-line: none;
    
}
.About_container_02_right nav  :hover{

    transform: translateY(-3px);
    transition-duration: 0.2s;
}
.About_container_02_left
{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.About_container_02_left_main{


    font-family: sans-serif;
    color: #111111;
 
}


.myskills_button_container{

display: flex;
flex-wrap: wrap;
gap: 15px;
}
.myskills_buttons
{

     padding: 10px  ;

     background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    color: #666666;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;

}
.projects_container{

  gap: 30px;
display: flex;
flex-direction: column;
  


}
.project_conatainer_main{
     margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    gap: 20px;
    color: #111111;
 

}

.projects_main_heading{
    
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #111111;


}
.projects_main_smallLine{
    height: 5px;
    width: 2rem;
    background: #7843E9;


    border-radius: 5px;

}

.projects_main_lines{

    font-family: sans-serif;
    font-size:12px;
    width: 50%;
    text-align: center;
    color: #333333;
}
.project_conatainer_sub{
    display: flex;
    justify-content: space-between;
    padding: 7
    
       
    0px;

}
.project_conatainer_sub_left img{
    width: 600px;
    height: 400px;
}




.project_conatainer_sub_right
{
flex: 1;
gap: 50px;
display: flex;
flex-direction: column;
margin-top: 80px;

}
.project_conatainer_sub_right_mainHeading
{
font-family: sans-serif;
font-size: 25px;
text-transform: uppercase;
color: #111111;
}
.project_conatainer_sub_right_lines{
    font-family: sans-serif;
    font-size: 15px;
    width: 80%;
    color: #333333;
}
.project_conatainer_sub_right_button{
    background-color: #7843E9;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
     font-size: 14px;
text-decoration: none;
    width: fit-content;
    text-decoration-line: none ;

}

.project_conatainer_sub_right nav :hover{

    transform: translateY(-3px);
    transition-duration: 0.2s;
}
.project_conatainer_sub_left
{
    flex: 1;
}


.contact_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("/common-bg.svg");

}
.contact_main{
       margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    
}
.contact_main_heading{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color:#111111;
}
.contact_main_smallLine{
    height: 5px;
    width: 2rem;
    background: #7843E9;


    border-radius: 5px;


}


.contact_main_lines{


    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
    width: 50%;
    text-align: center;
}

.contact_container_form {
    width: 450px;
    height: 500px;
    margin-left: 30%;
  background-color: white;

    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;





}
.contact_container_form div{
   display: flex;
   gap: 30px;
   justify-content: space-evenly;
   padding: 50px;

   
}
.contact_container_form  label {

font-family: sans-serif;
font-size: 15px;
text-transform: capitalize;
color: #333333;
padding-top: 10px;

}
.contact_container_form input,  .contact_container_form textarea{

     background-color: #f0f0f0;
    font-family: sans-serif;

    text-transform: capitalize;
 
   font-size: 10px;
   width: 100%;
    border:none;
    padding: 10px;
    border-radius: 5px;
    



}
  
 #button{
 margin-left: 70%;
 padding: 10px 30px;
 background-color: #7843E9;
 color: white;
font-family:  sans-serif;
 border-radius: 5px;
 text-transform: uppercase;
 border: none;

}
.contact_container_form button:hover{
    transform: translateY(-3px);
    transition-duration: 0.2s;

}


.social_container_icon{
    color: white;
}


.casestudies_mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("C:\Users\user\OneDrive\Desktop\vite react\shashank_portfolio_01\public\common-bg.svg");
 width: 100%;
 padding: 200px;

 

}
.casestudies_mainpage_heading{
    font-family: sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #111111;

}
.casestudies_mainpage_lines{

    text-align: center;
    width: 60%;
    font-family: sans-serif;
    line-height: 1.6;
}
.casestudies_mainpage_button{
    font-family: sans-serif;
    text-transform: uppercase;

    background-color: #7843E9;
    padding: 10px 30px ;
    border-radius: 5px;



    
}
.casestudies_mainpage_button a{
    color: white;
    text-decoration-line: none;
    font-size: 15px;
}
.casestudies_mainpage_button:hover{
    transform: translateY(-3px);
    transition-duration: 0.2s;
}
.casestudies_middlepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.casestudies_middlepage img{
    width: 60%;
}
.casestudies_middlepage_projeactOverview{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: start;
    gap: 50px;
    line-height: 1.5;
    font-family: sans-serif;
}
.casestudies_middlepage_projeactOverview_heading{
    font-family: sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: start;
}
.casestudies_middlepage_projeactOverview_lines{
    width: 50%;
    text-align: start;
}
.casestudies_middlepage_toolsused_heading{

   font-family: sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: start;
    color: #111111;
}
.toolsused_container
{
    display: flex;
    gap: 15px;
    
}
.toolsused_container h3{

    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    padding: 5px  10px;
    color: #666666;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;

}

.casestudies_middlepage_seelive{

    text-align: center;
}
.casestudies_middlepage_seelive_heading{
    font-family: sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    text-align: start;
    padding: 30px;
    color: #111111;
}
.casestudies_middlepage_seelive_button{
    display: flex;
    gap: 50px;
    padding: 30px;
    text-align: start;
}
.casestudies_middlepage_seelive_button a{

    padding: 10px 30px ;
    border-radius: 5px;
    background-color: #7843E9;
    color: white;
    text-decoration-line: none;
    font-family: sans-serif;
font-size: 10px;
text-transform: capitalize;

}
.casestudies_middlepage_seelive_button a:hover{
    transform: translateY(-3px);
    transition-duration: 0.2s;

}

.AboutMe_container{
 display: flex;
 flex-direction: column;


}
.AboutMe_introduction{

    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("C:\Users\user\OneDrive\Desktop\vite react\shashank_portfolio_01\public\common-bg.svg");


}
.AboutMe_heading{
    text-transform: uppercase;
    color: #111111;
    font-family: sans-serif;


}
.AboutMe_lines{
    text-transform: capitalize;
    color: #333333;
    font-family: sans-serif;

}
.AboutMe_summary{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("C:\Users\user\OneDrive\Desktop\vite react\shashank_portfolio_01\public\common-bg.svg");

}
.AboutMe_summary_image_left{
    flex: 1;
    padding-left: 50px;
  
    
    
}
.AboutMe_summary_image_left img{
  
    border-radius: 50%;

object-fit: cover;
}

.AboutMe_summary_lines_right{
    flex: 1;

}
.AboutMe_summary_lines_right p{
    width: 80%;
    line-height: 1.5;
    font-family: sans-serif;
    color: #333333;

    word-spacing: 2;

}
.technologies_known{
 
    display: flex;
    flex-direction: column;
    flex: wrap;



}
.technologies_known h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #111111;
    text-transform: uppercase;
    padding: 50px;
}

.frontend_development{
    display: flex;
    flex-direction: column;


}
.frontend_development h2{
    font-family: sans-serif;
    color: #111111;
    text-transform: capitalize;
    padding: 20px;
}
.frontend_development_container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
gap: 50px;

    
}
.frontend_development_container div{

    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    
    
border-radius: 10px;
color: #333333;
font-family: sans-serif;




   
    
}
.frontend_development_container div p{
    text-indent: 10px;
    line-height: 1.5;
    text-align: center;
    color: #666666;
    
}
.frontend_development_container div h3{
  padding: 5px;
    
}
.programming_languages{
    display: flex;
    flex-direction: column;



}
.programming_languages h2{
    font-family: sans-serif;
    color: #111111;
    text-transform: capitalize;
    padding: 20px;

}
.programming_languages_container{

    display: flex;

    justify-content: space-evenly;
    
}
.programming_languages_container div{
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    
    
border-radius: 10px;
color: #333333;
font-family: sans-serif;
}

.programming_languages_container div p{
    text-indent: 10px;
    line-height: 1.5;
    text-align: center;
    color: #666666;
    
}
.programming_languages_container div h3{
  padding: 5px;
    
}
.database{
    display: flex;
    flex-direction: column;
    


}
.database h2{
    font-family: sans-serif;
    color: #111111;
    text-transform: capitalize;
    padding: 20px;


}
.database_container{

    display: flex;
flex-wrap: wrap;
justify-content:  space-evenly;




}

.database_container div{
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    
    
border-radius: 10px;
color: #333333;
font-family: sans-serif;

}

.database_container div p{
    text-indent: 10px;
    line-height: 1.5;
    text-align: center;
    color: #666666;
    
}
.database_container div h3{
  padding: 5px;
    
}
.tools_technologies{
    display: flex;

  flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 50px;

}
.tools_technologies h2{

    font-family: sans-serif;
    color: #111111;
    text-transform: capitalize;
} 
.tools_technologies div{
    display: flex;

    gap: 10px;


    padding: 50px;

}
.tools_technologies div h3{

    font-family: sans-serif;
    color: #666666;
    background-color: #f0f0f0;
    text-align: center  ;
    text-transform: capitalize;
    text-indent: 20px;
    padding: 10px 30px ;
    border-radius: 10px;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.education_heading{
    font-family: sans-serif;
    color: #111111;
    text-transform: uppercase;
    padding: 50px;
}
.education_experience{
    display: flex;
    justify-content: space-around;
}
.education_experience_left{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    padding: 50px;
}

.school{
      
      color: #333333;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-transform: capitalize;
      width: 200px;    line-height: 1.5;
      padding: 20px;
      font-family: sans-serif;
      font-size: 13px;

      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


}
.diploma{
    color: #333333;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-transform: capitalize;
    width: 200px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5;      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.degree{
      
    color: #333333;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-transform: capitalize;
    width: 200px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 13px;    line-height: 1.5;      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.highlight{
    color: #7843E9;
}
.education_experience_left p{
word-spacing: 0.5px;
text-indent: 10px;



}


.education_experience_right{
    flex: 1;
    padding: 50px;
}
.qualityInspection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.qualityInspection h2{

    font-family: sans-serif;
    color: #111111;
    text-transform: uppercase;
    padding: 50px 0px;
    
}
.qualityInspection p{
    font-family: sans-serif;
    color:#333333;
    padding: 10px;
}
.qualityinspection_description li{
    font-family: sans-serif;
    color: #333333;
    text-align: start;
    line-height: 1.5;
    word-spacing: 1.5;
}
.footer_container
{
    background: black;
    display: flex;
    flex-direction: column;




    

}
.footer_content{
     display: flex;
     justify-content: space-between;
     align-items: center;
         
     padding: 20px 50px;
}
.name_tagline_container {
  color: white;
  font-family: sans-serif;

}
.name_tagline_container_name{
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 25px;

}
.name_tagline_container_line{
    width: 60%;
    font-family: sans-serif;
    font-size: 12px;
}
.social_container{

    color: white;
    font-family: sans-serif;

}

.social_container_heading{
    font-family: sans-serif;
    font-size:20px ;
    text-transform: uppercase;

}
.social_container_links{
  display: flex;
  


}
.social_container_links div{
    display: flex;
  font-size: 20px;
  padding: 5px;
  color: white;
}
.social_container_links div a{

  color: white;
}

.footer_copyright{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 10px;
    color: white;
        padding: 25px 25px;
}
